/**

	TODO:
	- main.scss

 */


@import 'variables';
@import 'mixins';

@import 'vendor/reset';
@import 'vendor/gridlex-vars';
@import 'vendor/gridlex';

// Uncomment if necessary
// @import 'vendor/owl.carousel.min';
// @import 'vendor/jquery.fullPage';

@import 'components/demomenu';

@import 'components/layout';