/**

	TODO:
	- variables.scss

 */

$color__primary: #27AAE1;
$color__secondary: #134A86;
$color__third: #231F55;
$color__light: #f5f5f5;
$color__light--light: #E5E5E5;
$color__light--dark: #c4c4c4;
$color__dark: #444444;
$color__white: #fff;
$color__black: #000;
$color__danger: #EC2127;

$font__primary: 'Roboto';