.prices{
    margin-top: 74px;
    @include media(md){
        margin-bottom: 30px;
    }
    &__item{
        display: flex;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 20px;
        @include media(md){
            padding-right: 10px;
        }
        @include media(sm){
            margin-bottom: 20px;
        }
        &::after{
            content: '';
            display: block;
            bottom: 0;
            position: absolute;
            height: 4px;
            background-color: $color__primary;
        }
        @for $i from 1 through 100 {
            &--#{$i}{
                &::after{
                    width: #{$i * 1%};
                }
            }
        }
    }
    &__numb{
        font-size: 72px;
        font-weight: bold;
        color: $color__secondary;
        margin-right: 30px;
        @include media(md){
            font-size: 60px;
            width: 110px;
            min-width: 110px;
        }
        @include media(sm){
            width: auto;
            min-width: auto;
        }
    }
    &__desc{
        margin-top: 0px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 20px;
    }
}