.slider{
    &--stock{
        display: none;
        padding: 0 10px;
        box-sizing: border-box;
        position: relative;
        @include media(sm){
            display: block;
        }
        .owl-item{
            transition: all .2s ease;
        }
        .owl-item:not(.center){
            opacity: 0;
        }
        .cert__inner{
            width: 100%;
        }
        .cert__item{
            justify-content: center;
        }
        .owl-stage{
            display: flex;
        }
        .owl-item{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &::after{
            display: block;
            content: '';
            position: absolute;
            width: 500%;
            left: -250%;
            height: 140%;
            top: 25%;
            z-index: -1;
            background-color: $color__light;
        }
    }
    .owl-stage-outer{
        height: auto!important;
    }
    .owl-nav{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 105px;
        pointer-events: none;
        @include media(sm){
            top: 140px;
        }
        svg{
            width: 50px;
            height: 50px;
            fill: $color__white;
            background: $color__black;
            box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.5);
        }
    }
    .owl-prev,
    .owl-next{
        outline: none;
        pointer-events: all;
    }
    .owl-next{
        svg{
            box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.2);
        }
    }
    .owl-dots{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .owl-dot{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $color__light--dark;
            margin: 0 5px;
            outline: none;
            @include media(md){
                width: 10px;
                height: 10px;
            }
            &.active{
                background-color: $color__secondary;
            }
        }
    }
}