.supplier{
    padding: 50px 0;
    background-color: $color__light;
    padding-bottom: 100px;
    @include media(md){
        padding: 60px 0;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__body{
        display: flex;
        @include media(sm){
            flex-direction: column;
        }
    }
    &__img{
        margin-right: 100px;
        img{
            @include media(md){
                margin-bottom: 30px;
            }
        }
        .supplier__info{
            display: none;
            @include media(sm){
                display: flex;
            }
        }
        @include media(md){
            margin-right: 30px;
        }
        @include media(sm){
            order: 2;
            margin-right: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__text{
        padding-right: 185px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media(md){
            padding-right: 0;
        }
        @include media(sm){
            order: 1;
        }
        .supplier__info{
            display: block;
            @include media(sm){
                display: none;
            }
        }
    }
}