<!-- start big -->
<div class="big" style="background-image: url(img/big.png)">
    <div class="row">
        <div class="big__body">
            <div class="big__title">
                Продажа конвейерной и транспортёрной ленты со склада в Москве с отгрузкой
                на следующий день
            </div>
            <form class="big__form form js-form">
                <div class="form__title">
                    Получите полный прайс-лист
                    и бесплатную консультацию наших экспертов
                </div>
                <div class="form__desc">
                    Мы вышлем вам прайс-лист с ценами на нашу продукцию и проконсультируем по вопросам подбора
                </div>
                <div class="form__body">
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="text" name="name" placeholder="Имя *">
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="text" name="phone" placeholder="Номер телефона *">
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="email" name="email" placeholder="Электронная почта">
                        </div>
                    </div>
                    <div class="form__group form__group--no-bottom">
                        <button class="btn btn--full" type="submit">получить прайс</button>
                    </div>
                </div>
                <div class="form__info">
                    Нажимая кнопку, вы даете согласие на обработку <a href="#">персональных данных</a>
                </div>
            </form>
            <button class="btn js-modal-open" data-target="#modal">получить прайс</button>
        </div>
    </div>
</div>
<!-- end big -->