<!-- start categories -->
<div class="block block--70">
    <div class="row">
        <div class="title">Категории оперативной поставки</div>
        <div class="grid">
            <div class="col-6_md-12">
                <p class="font-18 font-500">Всегда в наличии: Ленты общего назначения, шевронные, шахтные,
                теплостойкие, масло и морозостойкие ленты</p>
            </div>
            <div class="col-12">
                <!-- start slider -->
                <div class="block categories">
                    <div class="slider slider--categories">
                        <div class="owl-carousel slider__owl js-slider" data-items="4" data-nav="true" data-dots="true" data-loop="true"
                            data-autoplay="false" data-autoplay-timeout="2000" data-autoplay-hover-pause="true" data-responsive='{0:{"items": 1}, 768:{"items":2},1024:{"items": 4}}'
                            data-prev="<div class='slider__nav slider__nav--prev'><svg><use xlink:href='#arrow-left'></use></svg></div>"
                            data-next="<div class='slider__nav slider__nav--next'><svg><use xlink:href='#arrow-right'></use></svg></div>"
                        >
                            <div class="categories__item slider__item">
                                <div class="categories__inner">
                                    <div class="categories__image" style="background-image: url(img/cat1.png)"></div>
                                    <div class="categories__title">Ленты конвейерные общего назначения ТК-200</div>
                                    <div class="categories__desc">Конвейерная транспортёрная резинотканевая лента предназначена для транспортировки малоабразивных материалов с
                                    температурой не выше 60 градусов Цельсия. Ленты общего назначения наиболее распространены
                                    в производстве. ГОСТ 20 85. Ширина от 400 до 1400 мм.</div>
                                </div>
                            </div>
                            <div class="categories__item slider__item">
                                <div class="categories__inner">
                                    <div class="categories__image" style="background-image: url(img/cat2.png)"></div>
                                    <div class="categories__title">Ленты шевронные ЕР и ТК 200</div>
                                    <div class="categories__desc">Шевронная лента предназначается
                                    для транспортирования сыпучих
                                    и пакетированных грузов под большими углами подъёма. Шевронные ленты обладают высокими показателями износостойкости,
                                    хорошей гибкостью, низким относительным удлинением при нагрузке. Ширина от 400 до 1400 мм.</div>
                                </div>
                            </div>
                            <div class="categories__item slider__item">
                                <div class="categories__inner">
                                    <div class="categories__image" style="background-image: url(img/cat3.png)"></div>
                                    <div class="categories__title">Ленты с гофробортами
                                    и перегородками</div>
                                    <div class="categories__desc">Конвейерные ленты с гофробортами
                                    не позволяют транспортируемому материалу перекатываться или просыпаться, поэтому подобные
                                    ленты часто используется при транспортировке материалов разнообразных фракций, от 400 мм до порошкообразного. Всегда в
                                    наличии Гофроборты и профили.</div>
                                </div>
                            </div>
                            <div class="categories__item slider__item">
                                <div class="categories__inner">
                                    <div class="categories__image" style="background-image: url(img/cat4.png)"></div>
                                    <div class="categories__title">Механические соединители (замки) для лент</div>
                                    <div class="categories__desc">Все виды механических соединителей лент (замков) для лент - MS, типа К, болтового типа, RV-6 и стыковочные полосы KBM.</div>
                                </div>
                            </div>
                            <div class="categories__item slider__item">
                                <div class="categories__inner">
                                    <div class="categories__image" style="background-image: url(img/cat1.png)"></div>
                                    <div class="categories__title">Ленты конвейерные общего назначения ТК-200</div>
                                    <div class="categories__desc">Конвейерная транспортёрная резинотканевая лента предназначена для транспортировки малоабразивных материалов с
                                    температурой не выше 60 градусов Цельсия. Ленты общего назначения наиболее распространены
                                    в производстве. ГОСТ 20 85. Ширина от 400 до 1400 мм.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
</div>
<!-- end categories -->