<!-- start cert -->
<div class="cert bg--primary pt--100 pb--110">
    <div class="row">
        <div class="title text-center color--white pb--20">Сертификаты</div>
        <div class="slider slider--cert">
            <div class="owl-carousel slider__owl js-slider" 
                data-items="3" 
                data-nav="true" 
                data-dots="true" 
                data-loop="true"
                data-center="true"
                data-auto-width="true"
                data-autoplay="false" z`
                data-autoplay-timeout="2000" data-autoplay-hover-pause="true" 
                data-responsive='{0:{"items": 3}}'
                data-prev="<div class='slider__nav slider__nav--prev'><svg><use xlink:href='#arrow-left'></use></svg></div>"
                data-next="<div class='slider__nav slider__nav--next'><svg><use xlink:href='#arrow-right'></use></svg></div>">
                <div class="cert__item slider__item">
                    <div class="cert__inner">
                        <img src="img/cert2.png" alt="">
                    </div>
                </div>
                <div class="cert__item slider__item">
                    <div class="cert__inner">
                        <img src="img/cert1.png" alt="">
                    </div>
                </div>
                <div class="cert__item slider__item">
                    <div class="cert__inner">
                        <img src="img/cert3.png" alt="">
                    </div>
                </div>
                <div class="cert__item slider__item">
                    <div class="cert__inner">
                        <img src="img/cert1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cert -->