<!-- start clients -->
<div class="stock js-anchor-section stock--left js-clients" id="reviews">
    <div class="row">
        <div class="title text-center pb--20">Наши клиенты</div>
        <div class="grid">
            <div class="col-4_sm-0">
                <div class="stock__right">
                    <div class="stock__image js-clients-image">
                        <img src="img/client.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-8_sm-12">
                <p class="font-s18 pb--20">Компания Rusbelt дорожит своей репутацией, а значит обратившись к нам, вы можете не сомневаться в качестве и
                своевременности выполнения обязательств компании.</p>
                <div class="clients">
                    <div class="grid">
                        <div class="col-10" data-push-left="off-1">
                            <div class="grid-2">
                                <div class="col">
                                    <div class="clients__item" data-image="img/client.png">
                                        <img src="img/client1.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert1.png">
                                        <img src="img/client2.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert3.png">
                                        <img src="img/client3.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert1.png">
                                        <img src="img/client4.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert3.png">
                                        <img src="img/client5.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert2.png">
                                        <img src="img/client6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider slider--stock">
                    <div class="slider__img js-stock-client">
                        <img src="img/client1.png" alt="">
                    </div>
                    <div class="owl-carousel js-slider-stock slider__owl js-slider" 
                        data-items="1" 
                        data-nav="true" 
                        data-dots="true" 
                        data-loop="true"
                        data-center="true"
                        data-auto-width="false"
                        data-autoplay="false" z`
                        data-autoplay-timeout="2000" data-autoplay-hover-pause="false" 
                        data-responsive='{0:{"items": 1}}'
                        data-prev="<div class='slider__nav slider__nav--prev'><svg><use xlink:href='#arrow-left'></use></svg></div>"
                        data-next="<div class='slider__nav slider__nav--next'><svg><use xlink:href='#arrow-right'></use></svg></div>">
                        <div class="cert__item slider__item" data-client="img/client1.png">
                            <div class="cert__inner">
                                <img src="img/cert2.png" alt="">
                            </div>
                        </div>
                        <div class="cert__item slider__item" data-client="img/client2.png">
                            <div class="cert__inner">
                                <img src="img/cert1.png" alt="">
                            </div>
                        </div>
                        <div class="cert__item slider__item" data-client="img/client3.png">
                            <div class="cert__inner">
                                <img src="img/cert3.png" alt="">
                            </div>
                        </div>
                        <div class="cert__item slider__item" data-client="img/client4.png">
                            <div class="cert__inner">
                                <img src="img/cert1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end clients -->