<!-- start clients -->
<div class="stock stock--left js-clients">
    <div class="row">
        <div class="title text-center pb--20">Наши клиенты</div>
        <div class="grid">
            <div class="col-4">
                <div class="stock__right">
                    <div class="stock__image js-clients-image">
                        <img src="img/client.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-8">
                <p class="font-s18 pb--20">Компания Rusbelt дорожит своей репутацией, а значит обратившись к нам, вы можете не сомневаться в качестве и
                своевременности выполнения обязательств компании.</p>
                <div class="clients">
                    <div class="grid">
                        <div class="col-10" data-push-left="off-1">
                            <div class="grid-2">
                                <div class="col">
                                    <div class="clients__item" data-image="img/client.png">
                                        <img src="img/client1.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert1.png">
                                        <img src="img/client2.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert3.png">
                                        <img src="img/client3.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert1.png">
                                        <img src="img/client4.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert3.png">
                                        <img src="img/client5.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="clients__item" data-image="img/cert2.png">
                                        <img src="img/client6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end clients -->