<!-- start solutions -->
<div class="solutions pt--155 pb--110 js-anchor-section" id="solutions" style="background-image: url(img/ind.png)">
    <div class="row">
        <div class="grid">
            <div class="col-10_md-12" data-push-left="off-1_md-0">
                <div class="title color--primary">Индивидуальные решения и сервис</div>
                <p class="font-500 font-s18">Выполняем подгонку и соединение лент по индивидуальным размерам с выездом и на своей площадке</p>
                <p>Обслуживанием клиентов занимаются несколько мобильных бригад оснащенных профессиональным оборудованием
                для механического и вулканизационного соединения лент.</p>
                <div class="solutions__body">
                    <div class="solutions__all js-solutions-all">
                        <div class="grid">
                            <div class="col-8_sm-12" data-push-left="off-2_sm-0">
                                <p class="font-s24">
                                    1. Стыковка и ремонт лент на конвейере заказчика
                                </p>
                                <p class="font-s24">2. Установка механических соединителей на ленты</p>
                                <p class="font-s24">3. Изготовление закольцованных лент</p>
                                <p class="font-s24">4. Футеровка барабанов</p>
                                <p class="font-s24">5. Продольная и поперечная резка лент в размер</p>
                                <p class="font-s24">6. Установка гофробортов, рёбер, перегородок, профилей</p>
                                <p class="font-s24">7. Обучение стыковке конвейерных лент</p>
                            </div>
                        </div>
                    </div>
                    <div class="solutions__items js-solutions-items">
                        <div class="grid-2_sm-1">
                            <div class="col">
                                <div class="solutions__item" style="background-image: url(img/ind1.png)">
                                    <div class="solutions__name">Изготовление заколцованных лент</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="solutions__item" style="background-image: url(img/ind2.png)">
                                    <div class="solutions__name">Ремонт лент с выездом на место</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="solutions__item" style="background-image: url(img/ind3.png)">
                                    <div class="solutions__name">Установка гофробортов, рёбер, перегородок</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="solutions__item" style="background-image: url(img/ind4.png)">
                                    <div class="solutions__name">Футеровка приводных барабанов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-8_md-6_sm-12">
                        <p class="font--upper font-s18">
                            Главная задача нашей сервисной политики – сократить время простоя конвейерного оборудования до минимума
                        </p>
                        <div class="btn btn--full btn--mobile js-modal-open" data-target="#modal">заказать услугу</div>
                    </div>
                    <div class="col-4_md-6_sm-12">
                        <div class="btn btn--full btn--opacity js-solutions-click" data-clicked="скрыть все услуги">посмотреть все услуги</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end solutions -->