<!-- start info -->
<div class="info">
    <div class="row">
        <div class="grid-3_sm-1-equalHeight">
            <div class="col">
                <div class="info__body">
                    <div class="info__numb">20 000</div>
                    <div class="info__text">
                        МЕТРОВ КОНВЕЙЕРНОЙ ЛЕНТЫ ВСЕГДА
                        В НАЛИЧИИ НА СКЛАДЕ
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="info__body">
                    <div class="info__numb">100+</div>
                    <div class="info__text">
                        ПОЗИЦИЙ КОМПЛЕКТУЮЩИХ НА СКЛАДЕ (СКРЕБКИ, СОЕДИНИТЕЛИ, РОЛИКИ)
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="info__body">
                    <div class="info__numb">1</div>
                    <div class="info__text">
                        ДЕНЬ ТРЕБУЕТСЯ НА ОТГРУЗКУ ХОДОВОЙ ПРОДУКЦИИ СО СКЛАДА
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end info -->