<!-- start form 1 -->
<div class="block bg--secondary pt--30 pb--30">
    <div class="row">
        <div class="title title--small color--white">
            Оставь заявку и получи товар из категории оперативной поставки уже завтра!
        </div>
        <form class="form form--small js-form">
            <div class="grid">
                <div class="col-12">
                    <div class="form__req">
                        *Поля обязательные для заполнения
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="text" name="name" placeholder="Имя *">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="text" name="phone" placeholder="Номер телефона *">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="email" name="email" placeholder="Электронная почта">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <button class="btn btn--full" type="submit">отправить</button>
                    </div>
                </div>
                <div class="col" data-push-left="off-9">
                    <div class="form__info">
                        Нажимая кнопку, вы даете согласие на обработку <a href="#">персональных данных</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end form 1 -->