<!-- start map -->
<div
    class="map js-map"
    data-lat="55.4313285040881" 
    data-lng="37.54874939160157" 
    data-marker="img/marker.png" 
    data-zoom="12"
    data-marker-width="43"
    data-marker-height="61"
>
    <div class="map__block">
        <div class="map__info">
            <div class="row">
                <div class="grid">
                    <div class="map__col col-8_md-12" data-push-left="off-2_md-0">
                        <div class="map__data">
                            <svg class="map__logo">
                                <use xlink:href="#logo"></use>
                            </svg>
                            <p>Производство, поставка
                            и обслуживание конвейерных
                            и транспортерных лент
                            и комплектующих в Москве
                            и по всей россии</p>
                            <div class="map__contacts">
                                <div class="map__contacts-item">
                                    <svg>
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    пн-пт с 09.00 до 17.00
                                </div>
                                <div class="map__contacts-item">
                                    <svg>
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                    <a href="tel:88043338284">8 (804) 333-82-84</a>
                                </div>
                            </div>
                            <a class="map__btn btn btn--opacity btn--white btn--full" href="#">Схема проезда</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="yandexMap2" class="map__yandex"></div>
    </div>
</div>
<!-- end map -->