<div class="block block--no-gutter bg--secondary pt--30 pb--30 solutions" style="background-image: url(img/nyd.png);">
    <div class="row">
        <div class="title title--small color--white">Предновогодние скидки!</div>
        <div class="grid">
            <div class="col-4_xs-6 btn--mobile" data-push-left="off-4_xs-3">
                <div class="info__body text-center">
                    <div class="info__numb color--white">5%</div>
                    <div class="info__text">СКИДКА</div>
                    <div class="info__text">Акция действует до 31.12.2018г.</div>
                </div>
            </div>
            <div class="col-9_md-12" data-push-left="off-0_md-2_sm-1_xs-0">
                <div class="form__desc categories__desc color--white">
                    Дополнительная скидка 5% действует при: <br>
                    - покупке полного рулона конвейерной ленты либо оставшегося куска; <br>
                    - заказе конвейерной ленты в кольце (горячая вулканизация, лента с замком); <br>
                    - заказе от 200 000 руб (на весь ассортимент товара). <br><br>

                    Оставьте телефон, чтобы узнать подробности.
                </div>
            </div>
            <div class="btn btn--center btn--mobile js-modal-open" data-target="#modal">Отправить</div>
            <div class="col-12 btn--mobile" data-push-left="off-2_sm-1_xs-0">
                <div class="form__req font-s10">
                    *Скидки не суммируются. <br>
                    *Скидка действует при оплате 100%. <br>
                    *Предновогодняя скидка 5% применяется дополнительно к персональным скидкам.
                </div>
            </div>
            <div class="col-3_sm-3_xs-6 form--small" data-push-right="off-0_md-1_sm-1_xs-0">
                <div class="info__body text-center">
                    <div class="info__numb color--white">5%</div>
                    <div class="info__text">СКИДКА</div>
                    <div class="info__text">Акция действует до 31.12.2018г.</div>
                </div>
            </div>
        </div>
        <form class="form form--small js-form" style="background: none;">
            <div class="grid">
                <div class="col-12">
                    <div class="form__req">
                        *Поля обязательные для заполнения
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="text" name="name" placeholder="Имя *">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="text" name="phone" placeholder="Номер телефона *">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <div class="form__control form__control--input">
                            <input type="email" name="email" placeholder="Электронная почта">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form__group">
                        <button class="btn btn--full" type="submit">отправить</button>
                    </div>
                </div>
                <div class="col-9">
                    <div class="form__req font-s10">
                        *Скидки не суммируются. <br>
                        *Скидка действует при оплате 100%. <br>
                        *Предновогодняя скидка 5% применяется дополнительно к персональным скидкам.
                    </div>
                </div>
                <div class="col-3">
                    <div class="form__info">
                        Нажимая кнопку, вы даете согласие на обработку <a href="#">персональных данных</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>