<!-- start prices -->
<div class="block block--30">
    <div class="row">
        <div class="grid">
            <div class="col-10_md-12" data-push-left="off-1_md-0">
                <div class="title">
                    Специальные цены и дополнительные скидки за объём
                </div>
                <p class="font-500 font-s18">Для своих клиентов мы стремимся стать комплексным поставщиком, поэтому наш ассортимент не ограничен только конвейерными лентами. А для крупных и постоянных покупателей у нас всегда есть специальные цены и дополнительные скидки.
                </p>
                <div class="prices">
                    <div class="grid-2_sm-1">
                        <div class="col">
                            <div class="prices__item prices__item--100">
                                <div class="prices__numb">1000+</div>
                                <div class="prices__desc">позиций в полном прайс-листе</div>
                            </div>
                        </div>
                        <div class="col-5_md-6_sm-12" data-push-left="off-1_md-0">
                            <div class="prices__item prices__item--12">
                                <div class="prices__numb">44+</div>
                                <div class="prices__desc">позиции комплектующих и оборудования для стыковки лент</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="prices__item prices__item--35">
                                <div class="prices__numb">350+</div>
                                <div class="prices__desc">позиций конвейерных лент и норийных ремней</div>
                            </div>
                        </div>
                        <div class="col-5_md-6_sm-12" data-push-left="off-1_md-0">
                            <div class="prices__item prices__item--6">
                                <div class="prices__numb">20+</div>
                                <div class="prices__desc">позиций амортизирующих загрузочных станций и комплектующих</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="prices__item prices__item--7">
                                <div class="prices__numb">65+</div>
                                <div class="prices__desc">позиций систем очистки конвейерных лент</div>
                            </div>
                        </div>
                        <div class="col-5_md-6_sm-12" data-push-left="off-1_md-0">
                            <div class="prices__item prices__item--3">
                                <div class="prices__numb">12+</div>
                                <div class="prices__desc">позиций материалов для футеровки барабанов</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn btn--center btn--secondary btn--mobile js-modal-open" data-target="#modal">получить скидку</div>
            </div>
        </div>
    </div>
</div>
<!-- end prices -->