<!-- start stock -->
<div class="stock js-anchor-section" id="stock">
    <div class="row">
        <div class="stock__body">
            <div class="grid">
                <div class="col-8_md-12">
                    <div class="title">Широкий ассортимент</div>
                    <div class="stock__text">
                        <p class="font-500">Компания Rusbelt поставляет промышленное оборудование для конвейеров
                        и расходные материалы корпоративным клиентам и частным лицам.</p>
                        <p>В нашем каталоге представлены конвейерные ленты и комплектующие для конвейерного оборудования, предназначенные для
                        перемещения абразивных сыпучих грузов, для непродовольственной и пищевой отрасли промышленности.</p>
                        <p>Компания Русбелт реализует как ленту собственного производства, так и является официальным дилером ведущих
                        производителей конвейерных комплектующих: CONTINENTAL, FONMAR, KALE CONVEYOR, MLT, NILOS, SAVA, КРАСНЫЙ ТРЕУГОЛЬНИК,
                        КУРСКРЕЗИНОТЕХНИКА. Что гарантирует низкую цену и оптимальную логистику.</p>
                        <div class="stock__images">
                            <div class="stock__image">
                                <img src="img/stock1.png" alt="">
                            </div>
                            <div class="stock__image">
                                <img src="img/stock2.png" alt="">
                            </div>
                            <div class="stock__image">
                                <img src="img/stock3.png" alt="">
                            </div>
                            <div class="stock__image">
                                <img src="img/stock4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4_md-12">
                    <div class="stock__right">
                        <form class="stock__form form js-form">
                            <div class="form__title">
                                Нужна помощь в выборе ленты? Бесплатный экспертный подбор ленты:
                            </div>
                            <div class="form__body">
                                <div class="form__group">
                                    <div class="form__control form__control--input">
                                        <input type="text" name="name" placeholder="Имя *">
                                    </div>
                                </div>
                                <div class="form__group">
                                    <div class="form__control form__control--input">
                                        <input type="text" name="phone" placeholder="Номер телефона *">
                                    </div>
                                </div>
                                <div class="form__group">
                                    <div class="form__control form__control--input">
                                        <input type="email" name="email" placeholder="Электронная почта">
                                    </div>
                                </div>
                                <div class="form__group">
                                    <button class="btn btn--full" type="submit">отправить</button>
                                </div>
                            </div>
                            <div class="form__info">
                                Нажимая кнопку, вы даете согласие на обработку <a href="#">персональных данных</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end stock -->