<!-- start supplier -->
<div class="supplier">
    <div class="row">
        <div class="title">
            Надёжный поставщик с 10 летним опытом!
        </div>
        <div class="supplier__body">
            <div class="supplier__img">
                <img src="img/supplier.png" alt="">
                <div class="supplier__info">
                    <p><span class="font-500">Алексей Лазарев</span><br>
                        Генеральный директор ООО Русбелт</p>
                
                    <div class="btn btn--secondary btn--svg">
                        смотреть видео
                        <svg>
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="supplier__text">
                <p>Наша компания создана более 10 лет назад. В 2006-м году
                мы занялись поставкой конвейерных лент импортного производства. Впоследствии создали собственный склад, сервисную службу и, наконец, запустили производство.</p>
                <p>В штате компании постоянно трудится 22 человек. За последние годы количество наших клиентов существенно увеличилось, мы заслужили доверие крупных игроков в основных отраслях где используют конвейерную ленту.</p>

                <div class="supplier__info">
                    <p><span class="font-500">Алексей Лазарев</span><br>
                    Генеральный директор ООО Русбелт</p>
    
                    <div class="btn btn--secondary btn--svg">
                        смотреть видео
                        <svg>
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end supplier -->